* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

canvas {
	background-color: #f0f0f0;
	border-radius: 5px;
	margin: 0 auto;
}

body {
	background: #242222;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
}

h1 {
	font-size: 40px;
	margin: 20px;
	font-family: 'Lucida Console Regular';
	color: white;
}
